@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Itim", cursive;
    font-weight: 400;
    font-style: normal;
}

body {
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.container {
    padding: 0px 30px;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box,
.regis-box {
    backdrop-filter: blur(15px);
    padding: 15px 40px;
    background: rgba(243, 112, 36, 0.507);
    border: 1px solid #00000032;
    max-width: 460px;
    width: 100%;
    border-radius: 7px;

    h3 {
        font-size: 40px;
        text-align: center;
        margin-bottom: 20px;
    }

    input {
        width: 100%;
        background: #ffffffa3;
        padding: 12px;
        border-radius: 10px;
        font-size: 20px;
        border: 1px solid #000000;
        margin-bottom: 10px;

        &::placeholder {
            font-size: 17px;
        }

        &:focus::placeholder {
            color: #00000069;
        }

        &:focus {
            background: #ffffffbb;
            outline: none;
        }
    }

    label {
        color: #000000a3;
        display: inline-block;
        margin: 10px 0 5px;
        font-size: 20px;
    }

    button {
        padding: 15px 0;
        width: 100%;
        border-radius: 4px;
        border: none;
        cursor: pointer;
        margin-top: 20px;
        transition: 0.2s;
        font-size: 18px;
        font-weight: bold;
    }

    .login-btn {
        background: #0ac75f;
        color: #fff;

        &:hover {
            background: #0fa742;
        }
    }

    .regis-btn {
        background: #0ac75f;
        color: #fff;

        &:hover {
            background: #0fa742;
        }
    }
}