@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Itim", cursive;
  font-weight: 400;
  font-style: normal;
}




body{
  height: 100vh;
            background-image: url('../imgs/background.png');
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
            background-position: center;
        }
  


.container {
  padding: 0px 30px;
  height: 90%;
 
}

section {
  display: flex;
  height: 100%;
  align-items: center;

  > .text-box  {
    box-shadow: 2px 5px 15px #000000a6;
    color: #181818;
    margin-left: 30px;
    backdrop-filter: blur(7px);
    padding: 100px;
    border-radius: 20px;
    
    > h1 {
      font-size: 50px;
    }
    > p {
    width: 100%;         
    max-width: 900px;   
    box-sizing: border-box; 
    font-size: 20px;
    }
  }



  img {
    box-shadow: 2px 5px 245px rgb(142, 181, 238);
  }
}

